.deps/
.libs/
.*.swp
Makefile
Makefile.in
aclocal.m4
configure
config.*
gtk-doc.make
INSTALL
libtool
m4/lt*.m4
*~
*.cache
*.gir
*.la
*.lo
*.o
*.pc
*.stamp
*.typelib
*.tar.*
build-aux
*dbus*gen*
stamp-h1
*service
compile
depcomp
install-sh
ltmain.sh
m4/libtool.m4
missing
srs
src/srs-daemon
src/srs-dbus-client
src/srs-native-client
utils/collect-symbols
