# load and configure the fake and sphinx speech-engine plugins
load fake-speech sphinx-speech

fake.control = tcp4:127.0.0.1:3100

sphinx.foo = bar
sphinx.bar = foo

# set logging configuration
daemon.log-level  = info,warning,error
daemon.log-target = stdout

# temporary hack to activate a given backend
daemon.activate = sphinx-speech
